# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Environment files
.env

# Python cache
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db